<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="DroidDeck Terms"
        android:icon="@drawable/ic_terms"
        android:theme="@style/Theme.Material3.Dark.NoActionBar"
        android:allowBackup="false">
        <activity
            android:name=".TermsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
